*{
    font-family: monospace;
}
@keyframes enter-animation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        
        transform: rotate(1080deg);
    }
}

@keyframes expand{
    0%{transform: scale(0);}
    100%{transform: scale(1);}
}
body{
    padding: 5vmin;
    background-color: black;
    animation: enter-animation 1s linear;
}
#spinner{
    animation: expand 1s linear;
}

#news{
    background: linear-gradient(180deg,#dcd7d4 0%, #dcd7d4 90%, #9d948b 100%) ;
    padding: 3vmin;
}

#news-head{
    font-size: 5vmin;
    text-align: center;
}

#news-article{
    font-size: 3vmin;
}

#news-name{
    font-family: "Noticia Text", sans-serif;
    padding: calc((100vw - 100%) / 2);
    font-size: 7.5vmin;
    text-align: center;
}

#news-head, #news-name, #news-article{
    color: #4a4a4a;
}

#header-red{
    font-family: "Noticia Text", sans-serif;
    color: rgb(182, 0, 0);
}

#subhead-text{
    text-align: center;
    font-size: 3vmin;
    font-family: cursive;
}

#article{
    width: 60vw;
    font-size: 2vmin;
    margin: 5vh calc(20vw - 10vmin);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 3vmin;
}

hr{
    border: #343434 2px solid;
}

#picture{
    width: 20vw;
    margin: 1vh 20vw;
    border: 3px solid #343434;
}
@keyframes throb{
    0%{transform: scale(1)}
    50%{transform: scale(1.1)}
    100%{transform: scale(1)}
}
#gameover{
    text-align: center;
    font-size: 5vmin;
    color:rgb(182, 0, 0);
    animation: throb 2s linear infinite;
}