* {
    font-family: monospace;
}
body{
    margin: 0px;
    width: 100vw;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}
#header-text{
    font-size: 5vmin;
    color: #f4f3fc;
}

#progress-bar-label{
    font-size: 3vmin;
}

#header{
    width: 100vw;
    background-color: #5e5443;
    left: 0vw;
    top: 0vh;
    padding-bottom: 3vmin;
    padding-top: 3vmin;
    margin: 0px;
}

.instructions-subsection{
    width: 60vw;
    padding: 3vmin;
    margin: 3vmin calc(10vw - 3vmin);
    background-color: #83745c;
    border-radius: 25px;
    transition: transform 0.2s ease-out;
}
.header-button{
    display: inline;
    position: relative;
    color: #f4f3fc;
    background-color: #83745c;
    font-size: 0.8vw;
    height: 5vh;
    width: 15vw;
    margin-right: 3vw;
    text-align: center;
    border: none;
    transition: transform 0.5s;
    border-radius: 25px;
    animation: pop 2s 1;
}

.header-button:hover{
    transform: scale(1.1);
    background-color: #a79477;
}

@keyframes type{
    from{width: 0%;}
    to{width: 100%;}
}

@keyframes pop{
    0%{transform: scale(0);}
    50%{transform: scale(0);}
    100%{transform: scale(1);}
}

@keyframes slide-in-right{
    from{
        transform: translateX(-100vw);
    }
    to{
        transform: translateX(0vw);
    }
}

@keyframes slide-in-left{
    from{
        transform: translateX(100vw);
    }
    to{
        transform: translateX(0vw);
    }
}

#header-text-container{
    height: 10vh;
    animation: type 5s 1 linear;
    overflow: hidden;
    white-space: nowrap;
}

#instructions, #hamster{
    width: 80vw;
    padding: 3vmin;
    position: relative;
    left: calc(10vw - 3vmin);
    margin-top: 3vh;
    border-radius: 25px;
    background-color: #5e5443;
    color: #f4f3fc;
    will-change: filter;
    transition: filter 0.2s ease-out;

}
#instructions{
    font-size: 2vmin;
    animation: slide-in-right 0.5s 1 linear;  
}

#instructions:hover, #hamster:hover{
    filter: drop-shadow(10px 10px rgba(0, 0, 0, 0.75));
}

#hamster{
    animation: slide-in-left 0.5s 1 linear;
}

#hamster-stats, #hamster-container{
    background-color: #83745c;
    width: 60vw;
    margin: 5vh 10vw;
    padding: 3vmin;
    text-align: center;
    border-radius: 25px;
    transition: transform 0.2s ease-out;
    
}

#hamster-stats:hover, #hamster-container:hover, .instructions-subsection:hover{
    transform: translateY(-1vh);
}
.hamster-stats-text{
    font-size: 4vmin;
}

#magical-carrot{
    height: 30vh;
    cursor: move;
}

#magical-carrot:hover{
    transform: scale(1.1);
}

#growing-hamster{
    width: 8cm;
    position: relative;
    left: calc(30vw - 4cm);

}

#hamster-head{
    width: 8cm;
    height: 8cm;
}

#hamster-bottom{
    height: 2.56cm;
    width: 8cm;
}

#hamster-body{
    width: 8cm;
    height: 8cm;
}

#hamster-head, #hamster-bottom, #hamster-body{
    display: block;
}

#death{
    color: darkred;
    font-size: 5vmin;
    text-align: center;
}

a{
    text-decoration: none;
}

#popcorn-button{
    width: 5vw;
    display: inline;
    position: sticky;
    bottom: 0;
    left: 0;
    transition: transform 0.1s ease-out,
}

#popcorn-button:hover{
    transform: scale(1.1) rotate(10deg);
}

